h3,h4{
//   text-align: center;
  text-decoration:underline;

  color: #f4f4f4;
  font-weight: bold;
}

.contents{
  text-align:center;
  padding-top:10px;
}


.buttons{
  padding-top: 100px;
}


h4{
  padding-top: 50px;
}
