h1{
  text-align: center;
  text-decoration:underline;
}

a{

 transition: all 0.2s;
}

a:hover{
  text-decoration: none;
  margin-top: -3px;
  // color:red;
}

li{
  text-align:center;
  list-style-type: none;
  color:white;
  // padding-bottom:100px;
}

.body{
  background-color:#004E98;
  margin:auto;
  width: 1000px;
  border-radius: 50px;
  height:450px;
  // padding-top:135px;
  position:relative;

}

body{
  background-color: #B1DDF1;
}


.list{
  padding-top: 10px;
  // color:white;
}


.tasks{
  color:white;
}


.tasks:hover{
  color: #B1DDF1;
}

















