<div align="center" class="form ">
  <%= simple_form_for [ @task] do |f| %>
   <%= f.input :name %>
   <%= f.input :description %>
   <%= f.button :submit, class: "btn btn-back" %>
  <% end %>

</div>
