<h1>TASKS</h1>
<div class="body">
  <div class="list">
    <% @tasks.each do |task| %>
    <ul>
      <li>
        <%= link_to task.name ,task_path(task), class: "tasks"   %>
        |
        <%= link_to "Delete", task_path(task), method: :delete, data: {confirm: "Are you sure?"} %>
      </li>
    </ul>
    <% end %>
  </div>
  <div class="form">
    <%= render 'form', task:@task %>
  </div>
<%#= link_to "Add Task" ,new_task_path, class: "btn btn-primary" %>
</div>
