.form{
  width:600px;
  text-align:center;
  margin:auto;
  border-radius: 50%;
  // position:bottom;
  color:white;
  // position:relative;
   position: fixed;
  bottom: 20px;
  left:350px;
  // position:center;
  // z-index: 3;
  // padding-top:90px;
bottom: 60px;

}

@media only screen and (max-width: 600px) {
    .form{
        width:300px;

    }
//     .me{
//       display:block;
//     }
 }

